pipeline {
    agent { label 'infra-mgmt' }

    environment {
        ANSIBLE_HOST_KEY_CHECKING = 'False'
        SONAR_TOKEN = credentials('sonar-token')
        GITHUB_TOKEN = credentials('github-token')
        AWS_CREDS = credentials('aws_creds')
    }

    stages {
        stage('Checkout') {
            steps {
                git branch: 'main', credentialsId: 'github', url: 'https://github.com/ANIKHILT600/devops-mern-stack.git'
            }
        }
        
        stage('Ansible Prep') {
            steps {
                sh 'ansible-galaxy install -r automation/ansible/requirements.yml || true'
                // Ensure inventory.ini exists or fail
                sh 'ls -l automation/ansible/inventory.ini'
            }
        }

        stage('Configure Jenkins') {
            steps {
                dir('automation/ansible') {
                    sh """
                    ansible-playbook -i inventory.ini jenkins.yml \
                    --extra-vars "sonar_token=${SONAR_TOKEN} github_token=${GITHUB_TOKEN} aws_access_key=${AWS_CREDS_USR} aws_secret_key=${AWS_CREDS_PSW}"
                    """
                }
            }
        }

        stage('Configure Jump Server') {
            steps {
                dir('automation/ansible') {
                    sh 'ansible-playbook -i inventory.ini jump_server.yml'
                }
            }
        }

        stage('Deploy EKS Components') {
            steps {
                dir('automation/ansible') {
                    sh 'ansible-playbook -i inventory.ini eks.yml'
                }
            }
        }
    }
}
